parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- ArticleModule\Service\ArticleService
	router: App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension
    translation: Kdyby\Translation\DI\TranslationExtension

translatable:
    currentLocaleCallable: [@translation.default, getLocale]

translation:
    default: en
    whitelist: [cs, en]
